<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107811782306-4j03n4s8pvov949il9fo7vhh0tagnv59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107811782306-4j03n4s8pvov949il9fo7vhh0tagnv59</string>
	<key>API_KEY</key>
	<string>AIzaSyC477dR9Y3wUl03Aa0tPrnXG1fFGhyQm4M</string>
	<key>GCM_SENDER_ID</key>
	<string>107811782306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.believersSongbook</string>
	<key>PROJECT_ID</key>
	<string>songbook-for-believers</string>
	<key>STORAGE_BUCKET</key>
	<string>songbook-for-believers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107811782306:ios:6137da093f67b9cdf4a1fb</string>
</dict>
</plist>